p, h4 {
    font-style: justify;
    
}

body {
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

h1, h2 {
    margin: auto;
    padding: auto;
    border: auto;
    color: goldenrod;
}

h1 {
    margin-bottom: 2.5px;
    color: maroon;
}

html {
    border: 5px black solid;
}

.certifications {
    color: maroon;
}

.experience {
    color: maroon;
}

.education {
    color: purple;
}

footer {
    color: black;
}

.experience li {
    color: green;
}

.dates {
    color: maroon;
}

.name p {
    color: maroon;
}

.menu {
    word-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.counter p {
    color: purple;
}